.DS_Store
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/Assignment_1___Operating_Systems
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/Assignment_1___Operating_Systems
/cmake-build-debug/Assignment_1___Operating_Systems
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9f4e9e9ae881b515d1d3.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/CMakeCCompilerId.o
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/CMakeDetermineCompilerABI_C.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a838f5ffebe0f8427f3f.json
/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4f5657934bdc78182e5e.json
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/depend.make
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2024-09-15T08-54-47-0133.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/io.c.o
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/io.c.o
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/assignment_1/io.c.o
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/assignment_1/io.c.o.d
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/io_demo.c.o
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/io_demo.c.o
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/assignment_1/io_demo.c.o
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/assignment_1/io_demo.c.o.d
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/link.txt
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/.idea/misc.xml
/cmake-build-debug/CMakeFiles/Assignment_1___Operating_Systems.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024,_10_54_[Changes]1/shelved.patch
/cmake-build-debug/.cmake/api/v1/reply/target-Assignment_1___Operating_Systems-Debug-238d41c64a92223014cb.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-95003b0d86753ea81dea.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024__10_54__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_09_2024__10_54__Changes_1.xml
/.idea/vcs.xml
/.idea/workspace.xml
